extends baseEmail

block content
  p Hi #{firstName},
  p Please king batch, could you just please give me your burston prime !?!??!?
  p If you don't give me your burston prime, i wil personally come to your house and hit Patryk1349846 right in it's black face
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Upload user photo
  p By the way, if you have any Lith K2 relics, please give them too, thanks!
  p - Miautawn, The developer